/* CSS declarations go here */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.movies-grid {
	display: block;
	padding: 0;
	margin: 0 0 2em;
	@extend .clearfix;

	.movie {
		display: inline;
		height: auto;
		float: right;
		width: 25%;
		padding: 0;

		height: 352px; // should be calculated or use epic css fix
		background-image: url('http://placehold.it/235x352&text=loading...');
		background-size: 100%;
	}

	.movie:nth-of-type(4n+1) {
		clear: both;
	}
}

.movie {
	position: relative;

	&:hover {
		.movie-info {
			display: block;
		}
	}
}

.movie-info {
	display: none;
	position: absolute;
	z-index: 100;
	top: 98%;
	width: 120%;
	left: -10%;
	padding: 1em 0 0 0;

	.movie-info-inner {
		background-color: hsl(0, 0%, 98%);
		background-image: linear-gradient(to bottom, hsl(0, 100%, 100%), hsl(0, 0%, 95%));
		background-repeat: repeat-x;
		border: 1px solid hsl(0, 0%, 83%);
		color: hsla(0.0, 0.0%, 20.0%, 1.0);
		box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.065);
		border-radius: 4px;
		padding: 1em;

		h3 {
			margin-top: 0;
		}
	}
}

#spinner {
	height: 300px;
}

.load-more {
	display: block;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.05);
	text-align: center;
	height: 60px;
	line-height: 60px;
	margin-bottom: 10px;

	&:hover {
		text-decoration: none;
		background: rgba(0, 0, 0, 0.1); 
	}
}